<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Groupname</th>
      <th>Edate</th>
      <th>Spot</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.groupName %></td>
        <td><%= event.eDate %></td>
        <td><%= event.spot %></td>
        <td><%= event.longitude %></td>
        <td><%= event.latitude %></td>
        <td><%= event.title %></td>
        <td><%= event.body %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
