<p id="notice"><%= notice %></p>

<p>
  <strong>Groupname:</strong>
  <%= @event.groupName %>
</p>

<p>
  <strong>Edate:</strong>
  <%= @event.eDate %>
</p>

<p>
  <strong>Spot:</strong>
  <%= @event.spot %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event.body %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
